
#tipue_search_warning {
}

#tipue_search_warning a {
  text-decoration: none;
}

#tipue_search_warning a:hover {
}

.tipue_search_content_title {
  margin-top: 21px;
}

.tipue_search_content_title a {
  text-decoration: none;
}

.tipue_search_content_url {
  word-wrap: break-word;
  hyphens: auto;
}

.tipue_search_content_url a,
.tipue_search_related_text a {
  text-decoration: none;
}

.tipue_search_content_text {
  word-wrap: break-word;
  hyphens: auto;
  margin-top: 5px;
}


.tipue_search_content_debug {
  margin: 5px 0;
}

.tipue_search_related_title {
  margin: 26px 0 7px 0;
}

.tipue_search_related_cols {
  -webkit-columns: 230px 2;
  -moz-columns: 230px 2;
  columns: 230px 2;
}

#tipue_search_foot {
  margin: 1rem 0rem;
}

#tipue_search_foot_boxes {
  padding: 0;
  margin: 0;
}

#tipue_search_foot_boxes li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

#tipue_search_foot_boxes li a {
  padding: 10px 17px 11px 17px;
  background-color: #fff;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  cursor: pointer;
  color: #333;
  margin-right: 7px;
  text-decoration: none;
  text-align: center;
}

#tipue_search_foot_boxes li.current {
  padding: 10px 17px 11px 17px;
  background: #f6f6f6;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  color: var(--bs-primary);
  margin-right: 7px;
  text-align: center;
}

#tipue_search_foot_boxes li a:hover {
  background: #f6f6f6;
}