---
layout: default
title: Experience/Experiências
namespace: experiences
permalink: /experiencias/
permalink_en: /experiences/

---
    
<section class="container py-4"  id="experiencia_profissional">
  <div data-aos="fade-up" class="d-flex justify-content-between align-items-center py-4">
    <p class="display-6 fw-bold"> {% t experiences.professional_experience %}</p>
  </div>

  <div class="main-timeline-2" data-aos="fade">
    {% assign experiences = 'experiences_' | append: site.lang %}
    {% for experience in site.data[experiences] %}
    {% assign is_even = forloop.index0 | modulo: 2 %}
    {% if is_even == 0 %}
    <div class="timeline-2 left-2">
      {%- include experience-card.html -%}
    </div>
    {% else %}
    <div class="timeline-2 right-2">
      {%- include experience-card.html -%}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>

<hr data-aos="fade-up" class="container">

<section class="container py-4" id="formacao-academica">

  <div data-aos="fade-up" class="d-flex justify-content-between align-items-center py-4">
    <p data-aos="fade-up" class="display-6 fw-bold"> {% t experiences.education %}</p>
  </div>

  <div class="row g-4">
    {% assign educations = 'educations_' | append: site.lang %}
    {% for education in site.data[educations] %}
      {%- include education-card.html -%}
    {% endfor %}
  </div>
</section>

<hr data-aos="fade-up" class="container">

<section class="container py-4" id="capacitacao-extra">

  <div data-aos="fade-up" class="d-flex justify-content-between align-items-center py-4">
    <p data-aos="fade-up" class="display-6 fw-bold">  {% t experiences.extra_training %}</p>
  </div>

  <div class="row g-4">
    {% assign extra_trainings = 'extra_training_' | append: site.lang %}
    {% for training in site.data[extra_trainings] %}
      {%- include extra-training-card.html -%}
    {% endfor %}


  </div>
</section>