---
layout: default
title: "Habilidades"
permalink: /habilidades/
---

{% assign google = site.data.skills | where: "group", "Google Workspace" | sort: "title"%}
{% assign microsoft = site.data.skills | where: "group", "Microsoft Workspace" | sort: "title"%}
{% assign webdev = site.data.skills | where: "group", "Web Development Workspace" | sort: "title"%}
{% assign creative = site.data.skills | where: "group", "Creative Workspace" | sort: "title"%}
{% assign idiomas = site.data.skills | where: "group", "Idiomas" | sort: "title"%}
    
    
    <!-- google Workspace -->
    <section class="pb-4">

        <div data-aos="fade-up" class="col-md-12 pb-4">
            <h1 class="page-header">Google Workspace</h1>
        </div>   
        
        <div class="row">
            {% for item in google %}
            <!-- SKILL CARD  -->
       
        <div data-aos="fade-up"  class="col-sm-6 col-md-6 col-lg-3 p-2  skill"> 

                <div class="p-2 bg-light rounded d-flex ">
                    <!-- ICON -->
                    <div class="icon">
                        <img src="{{ item.img_path }}"> 
                    </div>

                    <!-- TEXT  -->
                    <div class="skill-title">
                        <p class="fs-5 font-medium ">  {{ item.title }} </p> 
                        <p class="text-muted"> {{ item.category }} </p> 
                        
                        <div class="skill-legend py-2 ">
                            Nível: <span class="badge bg-primary"> {{ item.nivel }} </span>
                        </div>
                    </div>
                </div>

               <!-- PROGRESS BAR -->
                <div class="progress skill-pg" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: {{ item.score }}%;" aria-valuenow="{{ item.score }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
               
            </div>
            {% endfor %} 
        </div>
    </section>
    
    <!-- microsoft Workspace -->
    <section class="py-4">

        <div data-aos="fade-up" class="col-md-12 py-4">
            <h1 class="page-header">Microsoft Workspace</h1>
        </div>   
        
        <div class="row">
            {% for item in microsoft %}
            <!-- SKILL CARD  -->
       
        <div data-aos="fade-up"  class="col-sm-6 col-md-4 col-lg-3 p-2 skill"> 

                <div class="p-2 bg-light rounded d-flex ">
                    <!-- ICON -->
                    <div class="icon">
                        <img src="{{ item.img_path }}"> 
                    </div>

                    <!-- TEXT  -->
                    <div class="skill-title">
                        <p class="fs-5 font-medium ">  {{ item.title }} </p> 
                        <p class="text-muted"> {{ item.category }} </p> 
                        
                        <div class="skill-legend py-2 ">
                            Nível: <span class="badge bg-primary"> {{ item.nivel }} </span>
                        </div>
                    </div>
                </div>

               <!-- PROGRESS BAR -->
                <div class="progress skill-pg" style="height: 5px;">
                    <div class="progress-bar " role="progressbar" style="width: {{ item.score }}%;" aria-valuenow="{{ item.score }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
               
            </div>
            {% endfor %} 
        </div>
    </section>
    
    <!-- webdev Workspace -->
    <section class="py-4">

        <div data-aos="fade-up" class="col-md-12 py-4">
            <h1 class="page-header">Webdev Workspace</h1>
        </div>   
        
        <div class="row">
            {% for item in webdev %}
            <!-- SKILL CARD  -->
       
        <div data-aos="fade-up"  class="col-sm-6 col-md-4 col-lg-3 p-2 skill"> 

                <div class="p-2 bg-light rounded d-flex ">
                    <!-- ICON -->
                    <div class="icon">
                        <img src="{{ item.img_path }}"> 
                    </div>

                    <!-- TEXT  -->
                    <div class="skill-title">
                        <p class="fs-5 font-medium ">  {{ item.title }} </p> 
                        <p class="text-muted"> {{ item.category }} </p> 
                        
                        <div class="skill-legend py-2 ">
                            Nível: <span class="badge bg-primary"> {{ item.nivel }} </span>
                        </div>
                    </div>
                </div>

               <!-- PROGRESS BAR -->
                <div class="progress skill-pg" style="height: 5px;">
                    <div class="progress-bar " role="progressbar" style="width: {{ item.score }}%;" aria-valuenow="{{ item.score }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
               
            </div>
            {% endfor %} 
        </div>
    </section>
    
    <!-- creative Workspace -->
    <section class="py-4">

        <div data-aos="fade-up" class="col-md-12 py-4">
            <h1 class="page-header">Creative Workspace</h1>
        </div>   
        
        <div class="row">
            {% for item in creative %}
            <!-- SKILL CARD  -->
       
        <div data-aos="fade-up"  class="col-sm-6 col-md-4 col-lg-3 p-2 skill"> 

                <div class="p-2 bg-light rounded d-flex ">
                    <!-- ICON -->
                    <div class="icon">
                        <img src="{{ item.img_path }}"> 
                    </div>

                    <!-- TEXT  -->
                    <div class="skill-title">
                        <p class="fs-5 font-medium ">  {{ item.title }} </p> 
                        <p class="text-muted"> {{ item.category }} </p> 
                        
                        <div class="skill-legend py-2 ">
                            Nível: <span class="badge bg-primary"> {{ item.nivel }} </span>
                        </div>
                    </div>
                </div>

               <!-- PROGRESS BAR -->
                <div class="progress skill-pg" style="height: 5px;">
                    <div class="progress-bar " role="progressbar" style="width: {{ item.score }}%;" aria-valuenow="{{ item.score }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
               
            </div>
            {% endfor %} 
        </div>
    </section>
    
    <!-- creative Workspace -->
    <section class="py-4">

        <div data-aos="fade-up" class="col-md-12 py-4">
            <h1 class="page-header">Idiomas</h1>
        </div>   
        
        <div class="row">
            {% for item in idiomas %}
            <!-- SKILL CARD  -->
       
        <div data-aos="fade-up"  class="col-sm-6 col-md-4 col-lg-3 p-2 skill"> 

                <div class="p-2 bg-light rounded d-flex ">
                    <!-- ICON -->
                    <div class="icon">
                        <img src="{{ item.img_path }}"> 
                    </div>

                    <!-- TEXT  -->
                    <div class="skill-title">
                        <p class="fs-5 font-medium ">  {{ item.title }} </p> 
                        <p class="text-muted"> {{ item.category }} </p> 
                        
                        <div class="skill-legend py-2 ">
                            Nível: <span class="badge bg-primary"> {{ item.nivel }} </span>
                        </div>
                    </div>
                </div>

               <!-- PROGRESS BAR -->
                <div class="progress skill-pg" style="height: 5px;">
                    <div class="progress-bar " role="progressbar" style="width: {{ item.score }}%;" aria-valuenow="{{ item.score }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
               
            </div>
            {% endfor %} 
        </div>
    </section>
