---
layout: default
title: Skills/Habilidades
namespace: skills
permalink: /habilidades/
permalink_en: /skills/
---

{% assign google = site.data.skills | where: "group", "Google Workspace" | sort: "title"%}
{% assign microsoft = site.data.skills | where: "group", "Microsoft Workspace" | sort: "title"%}
{% assign webdev = site.data.skills | where: "group", "Web Development Workspace" | sort: "title"%}
{% assign creative = site.data.skills | where: "group", "Creative Workspace" | sort: "title"%}

{% assign skills_group = "Web Development Workspace, Google Workspace, Microsoft Workspace, Creative Workspace"
| split: ", " %}

{% assign skills = "" | split: "" %}
{% assign skills = skills | push: webdev %}
{% assign skills = skills | push: google %}
{% assign skills = skills | push: microsoft %}
{% assign skills = skills | push: creative %}

{% assign count = 0 %}





{% for group in skills %}

<section class="pb-4">

    <div data-aos="fade-up" class="col-md-12 pb-4">
        <h1 class="page-header"> {{ skills_group[count] }}</h1>
    </div>

    <div class="row">

        {% for item in group %}

    
        <!-- SKILL CARD  -->
        <div data-aos="fade-up" class="col-sm-6 col-md-6 col-lg-3 p-2  skill">

            <div class="p-2 bg-light rounded d-flex ">
                <!-- ICON -->
                <div class="icon">
                    <img src="{{ item.img_path }}">
                </div>

                <!-- TEXT  -->
                <div class="skill-title">
                    <p class="fs-5 font-medium "> {{ item.title }} </p>
                    <p class="text-muted"> 
                        {% if item.category == "Technology" %}
                        {% t skills.tech %}
                        {% else %}
                         {{ item.category }} 
                        {% endif %}
                    </p>

                    <div class="skill-legend py-2 ">
                        {% t skills.level %}: <span class="badge bg-primary">
                            {% case item.nivel %}
                            {% when 4 %}
                            {% t skills.expert %}
                            {% when 3 %}
                            {% t skills.advanced %}
                            {% when 2 %}
                            {% t skills.intermediate %}
                            {% else %}
                            {% t skills.beginner %}
                            {% endcase %}
                        </span>
                    </div>
                </div>
            </div>

            <!-- PROGRESS BAR -->
            <div class="progress skill-pg" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: {{ item.score }}%;"
                    aria-valuenow="{{ item.score }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>

 
        {% endfor %}
    </div>

</section>
{% assign count = count | plus: 1 %}
{% endfor %}