---
layout: default
title: Skills/Habilidades
namespace: skills
permalink: /habilidades/
permalink_en: /skills/
---

{% if site.lang == "pt-br" %}
{% assign soft_skills = site.data.soft_skills_pt-br %}
{% assign main_skills = site.data.main_skills_pt-br %}
{% else %}
{% assign soft_skills = site.data.soft_skills_en %}
{% assign main_skills = site.data.main_skills_en %}
{% endif %}

<!-- MAIN STACK -->
<div class="bg-body-tertiary shadow">
    <section class="container py-4">
        <div data-aos="fade-up" class="py-4">
            <p class="display-6 fw-bold"> {% t skills.main-technologies %} </p>
        </div>

        <div data-aos="fade-up" class="row g-4 mb-4">
            {% for main_skill in main_skills %}
            <div class="col-12 col-md-4 d-grid">
                <div class="card card-animate p-4">
                <div class=" main-tech-img text-center">
                    <img src="/assets/images/skills/{{main_skill.logo}}" alt="{{stack.logo}}">
                </div>
                <p class='fs-7 text-justify fw-light mt-4 mb-0'>{{main_skill.description}}</p>
            </div>
            </div>
            {% endfor %}
        </div>


    </section>
</div>


<!-- SOFT SKILLS -->



{% for category in soft_skills %}
<section id="soft-skills" class=" container py-4 ">
    <div data-aos="fade-up" class="py-4">
        <p class="display-6 fw-bold"> {{ category.title }}</p>
    </div>

    <section id="soft-skills-content" class=" ">
        <div class="row g-4 justify-content-center">
            {% for skill in category.skills %}
            {% include soft-skill-card.html %}
            {% endfor %}
        </div>
    </section>

</section>
{% endfor %}




<!-- HARD SKILLS -->
{% for category in site.data.hard_skills %}
<section id="hard-skills" class=" container py-4">

    <div data-aos="fade-up" class="py-4">
        <p class="display-6 fw-bold"> {{ category.title }}</p>
    </div>

    {% for group in category.groups %}
    <p data-aos="fade-up" class="display-7 mb-4">
        {% if site.lang == "en" %}
        {{ group.description_en}}
        {% else %}
        {{ group.description_pt-br}}
        {% endif %}
    </p>

    <div class="row g-4 mb-4">
        {% for skill in group.skills %}
        {% include hard-skill-card.html %}
        {% endfor %}
    </div>
    {% endfor %}

    </div>
</section>
{% endfor %}