<section
  class="bg-white dark:bg-slate-900 rounded-xl shadow-sm border border-slate-300 dark:border-slate-700 overflow-hidden hover:shadow-md group/section">

  <button onclick="toggleContent('education', 'chevron-education')"
    class="w-full flex items-center justify-between p-5 section-gradient">
    <div class="flex items-center gap-4">
      <div
        class="p-2 text-blue-500 bg-white border border-slate-200 dark:border-slate-700 rounded-lg dark:bg-slate-800 dark:text-blue-500 ">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path
            d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z" />
          <path d="M22 10v6" />
          <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5" />
        </svg>
      </div>
      <h2 class="text-xl font-bold tracking-tight text-slate-800 dark:text-slate-100">{% t academic_background.title %}
      </h2>
    </div>
    <div id="chevron-education" class="text-slate-400 transition-transform ease-in-out">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m6 9 6 6 6-6" />
      </svg>
    </div>
  </button>

  <div id="education" class="accordion-content">
    <div class="p-px bg-gradient-to-r from-blue-300 dark:from-blue-800 to-transparent">
    </div>
    <div class="p-4 md:p-6 space-y-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        {% for item in site.data.[site.lang].academic_background %}

        <div
          class="rounded-lg bg-gradient-to-l to-slate-150 via-slate-150 from-slate-300 dark:to-slate-850 dark:via-slate-850 dark:from-slate-700 bg-size-200 bg-pos-0 hover:bg-pos-100 dark:border-slate-800 transition-all duration-300">
          <div class="gap-4 p-4 rounded-lg border border-slate-200 dark:border-slate-700">
            <div>
              <h3 class="font-bold text-slate-800 dark:text-slate-100">{{ item.degree }}</h3>
              <p class="text-blue-600 font-medium text-sm mt-1">{{ item.institution }}</p>
            </div>
            <div class="mt-4">
              <div class="flex justify-between items-center text-xs">
                <div class="font-semibold text-slate-700 dark:text-slate-200">{{ item.start_date }} - {{ item.end_date
                  }}
                </div>
                <div class="px-2 py-0.5 rounded text-xs font-bold 
              {% if item.graduated %}
               bg-blue-100 text-blue-600
                   dark:bg-blue-900/40 dark:text-blue-400
               {% else %}
               bg-slate-150 text-slate-600 dark:bg-slate-700 dark:text-slate-300 border border-slate-300 dark:border-slate-600
              {% endif %} ">
                  {{ item.status }}
                </div>
              </div>
              <p class="text-xs text-slate-400 mt-2 italic border-t border-slate-300 dark:border-slate-700 pt-2">
                {{ item.note }}
              </p>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>

      <div class="flex justify-end group/education">
        <div
          class="text-xs font-bold px-4 py-2 rounded-lg flex justify-start items-center gap-1 bg-gradient-to-l to-slate-150 via-slate-150 from-slate-300 dark:to-slate-850 dark:via-slate-850 dark:from-slate-700 bg-size-200 bg-pos-0 hover:bg-pos-100 dark:border-slate-800 transition-all duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-blue-500" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m5 8 6 6" />
            <path d="m4 14 6-6 2-3" />
            <path d="M2 5h12" />
            <path d="M7 2h1" />
            <path d="m22 22-5-10-5 10" />
            <path d="M14 18h6" />
          </svg>
          <span class="text-slate-800 dark:text-slate-100">
            {% t academic_background.english_proficiency %}: B2
          </span>
        </div>
      </div>

    </div>
</section>