<footer class="sticky bottom-0 bg-white border-gray-200 drop-shadow-md px-8">

  <div class="flex flex-wrap justify-between container mx-auto py-2.5">

            {% for item in site.data.social %}
                <a href="{{ item.link }}" target="_blank" class="font-medium text-sm  text-gray-500 hover:text-blue-500 ">
                    {% if item.icon %} 
                    <i class="fa {{item.icon}}"></i> 
                    {% endif %}
                  {{ item.name }}
                </a>
            {% endfor %}
         </div>
    </div>
  </div>

</footer>
