<div class="flex">
  <a href="{{ page.url | replace: " /br/", "/" }}" class="
      px-4 py-2 text-sm font-medium 
      rounded-l-lg
      border-l border-y
      bg-white dark:bg-slate-800 
      border-slate-300 dark:border-slate-700 
      hover:bg-slate-200 dark:hover:bg-slate-700 
      {% if site.lang == 'en' %}
      text-slate-850 dark:text-slate-200 
      {% else %}
      text-slate-300 dark:text-slate-600 
      {% endif %}">
    EN
  </a>
  <a href="{{ assign target = page.url | prepend: " /br/" }}" class="
      px-4 py-2 text-sm font-medium
      rounded-r-lg
      border
      
       bg-white dark:bg-slate-800 
       border-slate-300 dark:border-slate-700 
       hover:bg-slate-200 dark:hover:bg-slate-700
       {% if site.lang == 'br' %}
       text-slate-850 dark:text-slate-200 
       {% else %}
        text-slate-300 dark:text-slate-600 
       {% endif %}">
    BR
  </a>
</div>