{% t global.last_updated %}:
{% assign year = site.last_updated | date: "%Y" %}
{% assign month_index = site.last_updated | date: "%-m" | minus: 1 %}
{% assign month_key = "global.months." | append: month_index %}
{% capture month %}{% t month_key %}{% endcapture %}
{% if site.lang == 'en' %}
{% assign day = site.last_updated | date: "%-d" %}
{{ month }} {{ day }}, {{ year }}
{% elsif site.lang == 'br' %}
{% assign day = site.last_updated | date: "%d" %}
{{ day }} de {{ month }} de {{ year }}
{% endif %}
