
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<!-- POST CARD -->
 <div class="col-12 col-md-6 col-xl-4 d-flex">
  <div data-aos="fade-up" class="card card-animate bg-body-tertiary">

    <div class="card-header">
      <a href="{{ post.url | relative_url }}" class=" fs-5 fw-bold text-decoration-none post-link ">
        {{ post.title }}
      </a>
    </div>

    <a href="{{ post.url | relative_url }} " class="">
      <img src="{{ post.cover | prepend: site.baseurl_root }}" class="card-img">
    </a>

    <div class="card-body ">
      <p class="card-text fs-7">{{ post.short_description }}</p>
      {% assign sorted_tags = post.tags | sort %}
      {% for tag in sorted_tags %}
        <a href="{% tl search %}?q={{tag | remove: '#'}}" class="post-tag"> {{ tag }}</a>
      {% endfor %}
    </div>

    <div class="card-footer justify-content-between">
      {{ post.date | date: date_format }}
      <a href="{{ post.url | relative_url }}" class="float-end  btn btn-outline-dark btn-sm" type="button">
        {% t global.see_more %}
      </a>
    </div>

  </div>
</div>