@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "theme/base",
  "theme/layout",
  "theme/syntax-highlighting"
;







// # CUSTOM CSS

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.5rem;
  padding: 0.5rem;
}

@include media-query($on-laptop) {
  .grid-container {
    
    gap: 0.5rem;
    padding: 0.5rem;
  }
}

@include media-query($on-palm) {
    .grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    gap: 0.5rem;
    padding: 0.5rem;
  }
}


.grid-container > a {
  background-color: white;
  border-radius: 1rem;

  display: flex;

  padding: 0.25rem;
  
  border-style: solid;
  border-width: 0.05rem;
  text-align: center;
  text-decoration: none;
  width: 10rem;
}

.grid-container > a > i {
 padding: 0.20rem;
 bottom: 0;
}

.grid-container > a:hover {
  background-color: $brand-color;
  
  border-style: solid;
  border-color: $brand-color;
  color: white;
}

.grid-container > a > i {
 padding: 0.20rem;
 bottom: 0;
}

