.fa:hover{
  color: #0d6efd;
}

.active, .header-link:hover{
  color: #0d6efd!important;
  font-size: 3.5rem;

}

.text-justify {
  text-align: justify;
}


.display-on-hover {
  opacity: 0%!important;
 }
 
.group-hover:hover ~ .display-on-hover {
 opacity: 100%!important;
}