---
layout: blank
title: Início
---

<style>
  .full-container {
  width: 100vw;
  height: 100vh;

  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }

  .translucid {
    background-color: rgba(255,255,255,.70);
    backdrop-filter: blur(10px)
  }

  body {
  margin: 0px;
  }


  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number]  {
    background-color: rgba(255,255,255,.0);
    border-style: solid;
    border-width: 2px;
    border-color: black;;
    outline: none;
    -moz-appearance: textfield;

  }

  .btn:active{
    border: none;
  }

  .btn-close:focus {
    outline: none !important;
    box-shadow: none !important;
  }



  /*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: white;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #0a58ca;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #0d6efd;
      box-shadow: -1000px 0 0 1000px #0d6efd;
    }

    #counter-range::-webkit-slider-thumb {
      background: red !important;
      box-shadow: -1000px 0 0 1000px red !important;
      cursor: default !important;
    }

}
/** FF*/
 input[type="range"]::-moz-range-progress {
  background-color: #0d6efd; 
}
input[type="range"]::-moz-range-track {  
  background-color: white;
} 
/* IE*/
 input[type="range"]::-ms-fill-lower {
  background-color: #0d6efd; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: white;
} 



  </style>

<body>
  <div id="main" class="full-container position-absolute">
 
      <div class="col-10 col-sm-8  pt-5 pb-4 px-5 translucid border rounded rounded-4 shadow ">
        <div class="text-end">
          
          <button type="button" class="btn-close" aria-label="Close" onclick='hideDiv("main")'></button>
        </div>
         
        <h1 class="pb-md-4 fw-bold fs-2 ">Particles</h1>
        
        <p class="fw-light fs-4 text-center"> <small> PRESS SPACE TO RANDOMIZE</small></p>
        

        <div class="row py-md-2">
          <div class="col-md">
            <p for="minXs" class="form-label">Min <b>X</b> Speed (  <span id="minXsValue" class="fw-bold"> 150 </span> )</p>
           
            <input type="range" min="-50" max="50" value="-5" class="mt-2 w-100" id="minXs" onchange="setup();">
            
          </div>
          <div class="col-md">
            <p for="maxXs" class="form-label">Max <b>X</b> Speed (  <span id="maxXsValue" class="fw-bold"> 150 </span> )</p>
           
            <input type="range" min="-50" max="50" value="5" class="mt-2 w-100" id="maxXs" onchange="setup();">
          </div>
         <div class=" col-md-3 d-flex justify-content-between">
           <button class="btn btn-light col-5" onclick="stopX()"> <i class="fa fa-icon fa-stop"></i></button>
           <button class="btn btn-light col-5" onclick="resetX()"> <i class="fa fa-icon fa-refresh"></i></button>
         </div>
        </div>

        <div class="row py-md-2">
          <div class=" col-md">
            <p for="minYs" class="form-label">Min <b>Y</b> Speed (  <span id="minYsValue" class="fw-bold">  </span> )</p>
            <input type="range" min="-50" max="50" value="-5" class="mt-2 w-100" id="minYs" onchange="  setup();">
           
          </div>
          <div class="col-md">
            <p for="maxYs" class="form-label">Max <b>Y</b> Speed (  <span id="maxYsValue" class="fw-bold">  </span> )</p>
            <input type="range" min="-50" max="50" value="5" class="mt-2 w-100" id="maxYs" onchange="  setup();">
        
          </div>
          <div class="col-md-3 d-flex justify-content-between">
            <button class="btn btn-light col-5" onclick="stopY()"> <i class="fa fa-icon fa-stop"></i></button>
            <button class="btn btn-light col-5" onclick="resetY()"> <i class="fa fa-icon fa-refresh"></i></button>
          </div>
        </div>

        <div class="row py-2">
          <div class=" col-md">
            <p for="cntOpacity" class="form-label">Conections Opacity (  <span id="cntOpacityValue" class="fw-bold">  </span> )</p>
            <input type="range" min="0" max="100" value="100" class="mt-2 w-100" id="cntOpacity">
          </div>
          <div class="col-md">
            <p for="cntRadius" class="form-label">Conections Radius(  <span id="cntRadiusValue" class="fw-bold">  </span> )</p>
            <input type="range" min="0" max="250" value="85" class="mt-2 w-100" id="cntRadius" >
          </div>
         
        </div>

        <div class="row py-md-2">
          <div class="col">
            <p for="fr" class="form-label col-12">Particles</p>
            <input type="range" min="1" max="300" value="50" class="mt-2 w-100" id="particles" onchange="setup();">
            <span id="curParticles" class="fw-bold">  </span> <b>particles</b>
          </div>
        </div>
      
      <input type="range" min="1" max="5000" value="" class="mt-2 w-100 red" id="counter-range">
      <div class="d-none d-md-block fs-3 fw-light text-center mb-0 py-md-2">There is <span id="counter" class="fw-bold fs-2">00</span> a connections between the particles.</div>

      <ul class="text-center list-inline pt-md-4">

        {% assign items = site.data.social | where: "footer", "display" %}
        {% for item in items  %}
        <li class="list-inline-item">
          <a href="{{ item.link }}" target="_blank" class=" text-decoration-none text-muted hover-text-primary hover">
              {% if item.icon %} 
              <i class="fa {{item.icon}} fa-lg fa-fotter"></i> 
              {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  
      </div>

  </div>

  <div id="logo" class="position-absolute top-2 left-1 " style="display: none;">
    <button class="btn btn-outline-none" onclick="showDialog()"><i class="fa fa-info"></i></button>
  </div>



  <script src="particles-dynamic-background.js"></script>
  
  
</body>

  




