<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {%- include head.html -%}

  <body class="bg-gray-200">

    {%- include header.html -%}
    
    <main class="container mx-auto pt-5 mt-5" aria-label="Content">
      <div class="pb-16 pt-4">

        <section class="pb-4" id="experiencia_profissional">

          <h1 data-aos="fade-up" class="">{% t experiences.professional_experience %}</h1>
        
          <div class="container py-4">
            <div class="main-timeline">
        
              <div class="timeline left ">
                <div data-aos="fade-up" class="card shadow">
                  <div class="card-body p-4">
                    <div class="d-flex-inline d-md-flex my-auto col my-2">
                      <a data-aos="fade-up" href="https://www.tcc-utfpr.heroku-app.com/" class="">
                        <img src="/assets/images/experiences/tcc-utfpr.png" height="75px"  alt="">
                      </a>
        
                      <div class="my-auto pb-3 pb-md-0 md-my-0 md-mx-2">
                        <p data-aos="fade-up" class="fs-5 fw-light mb-0">{% t experiences.tcc-utfpr.company %}</p>
                        <p data-aos="fade-up" class="items-center mb-0 fw-light text-sm"><i class="fa fa-map-marker"></i> {% t experiences.tcc-utfpr.location %}</p>
                      </div>
                    </div>
        
                    <div class="mb-2">
                      <p data-aos="fade-up" class="fs-5 fw-bold mb-0">{% t experiences.tcc-utfpr.title %}</p>
                      <ul class="d-flex-inline d-md-flex justify-content-start gap-4 list-unstyled  text-sm">
                        <li data-aos="fade-up" class="items-center"><i class="fa fa-sign-in fa-lg"></i> {% t experiences.tcc-utfpr.date_in %}</li>
                        <li data-aos="fade-up" class="items-center"><i class="fa fa-sign-out fa-lg"></i> {% t experiences.tcc-utfpr.date_out %}</li>
                        <li data-aos="fade-up" class="items-center"><i class="fa fa-clock-o fa-lg"></i> {% t experiences.tcc-utfpr.duration %}</li>
                      </ul>
                    </div>
        
        
                    {% if site.lang == "pt-br" %}
                    <p data-aos="fade-up" class="mb-2 text-justify">
                      Desenvolvi uma aplicação Ruby on Rails, desde a concepção do problema até o lançamento em produção, com o objetivo de gerenciar negociações e realizar o mapeamento de turmas para empresas de formaturas. O projeto foi realizado como Trabalho de Conclusão de Curso na UTFPR. A aplicação possui suporte para Docker, integração com AWS S3 e  faz uso das principais Ruby Gems. Está hospedada no Heroku e conta com cobertura de testes e configuração de CI/CD.</p>
                    {% else %}
                    <p data-aos="fade-up" class="mb-2 text-justify">
                      I developed a Ruby on Rails application, from the conception of the problem to its launch in production, with the goal of managing negotiations and mapping classes for graduation companies. The project was carried out as a Final Course Project at UTFPR. The application has support for Docker, integration with AWS S3, and makes use of the main Ruby Gems. It is hosted on Heroku and has test coverage and CI/CD configuration.</p>
                    </p>
                    {% endif %}
        
        
                      <a data-aos="fade-up" href="#" class="btn btn-outline-primary btn-sm"><i class="fa fa-book"></i> {% t experiences.tcc-utfpr.download %}</a>
                      
                      <a data-aos="fade-up" href="https://tcc-utfpr.herokuapp.com/" class="my-2 my-md-0 btn btn-outline-primary btn-sm"><i class="fa fa-external-link"></i> {% t experiences.tcc-utfpr.visit %}</a>
                      <p data-aos="fade-up" class="text-muted text-sm py-2">{% t experiences.tcc-utfpr.credentials %} : admin@admin / admin </p>
        
        
                  </div>
                </div>
              </div>
        
              <div class="timeline right ">
                <div data-aos="fade-up" class="card shadow">
                  <div class="card-body p-4 ">
                    
                    
                    <div class="d-flex-inline d-md-flex my-auto col my-2">
                      <a data-aos="fade-up" href="http://crossformaturas.com.br/" class="">
                        <img src="/assets/images/experiences/cross.png" height="75px"  alt="">
                      </a>
        
                      <div class="my-auto pb-3 pb-md-0 md-my-0 md-mx-2">
                        <p data-aos="fade-up" class="fs-5 fw-light mb-0">{% t experiences.cross.company %}</p>
                        <p data-aos="fade-up" class="items-center mb-0 fw-light text-sm"><i class="fa fa-map-marker"></i> {% t experiences.cross.location %}</p>
                      </div>
                    </div>
        
                    <div class="mb-2">
                      <p data-aos="fade-up" class="fs-5 fw-bold mb-0">{% t experiences.cross.title %}</p>
                      <ul class="d-flex-inline d-md-flex justify-content-start gap-4 list-unstyled  text-sm">
                        <li data-aos="fade-up" class="items-center"><i class="fa fa-sign-in fa-lg"></i> {% t experiences.cross.date_in %}</li>
                        <li data-aos="fade-up" class="items-center"><i class="fa fa-sign-out fa-lg"></i> {% t experiences.cross.date_out %}</li>
                        <li data-aos="fade-up" class="items-center"><i class="fa fa-clock-o fa-lg"></i> {% t experiences.cross.duration %}</li>
                      </ul>
                    </div>
        
                    {% if site.lang == "pt-br" %}
                    <p data-aos="fade-up" class="mb-2 text-justify">Iniciei minha carreira como Arte Finalista e rapidamente fui promovido a Supervisor de Criação. Durante esse período, desempenhei um trabalho operacional e estratégico, desenvolvendo métodos para integrar, automatizar e realizar tarefas rotineiras com mais agilidade. Coordenei três equipes, todas atualmente autogerenciáveis, e liderei projetos de Marketing, como o rebranding da marca e sua nova identidade visual, campanhas de festas renomadas e materiais institucionais. Desenvolvi o site da empresa, que possui blog de notícias, gestão de formulários e upload de imagens, além de estar associado ao Google Analytics e serviços de chat integrado. </p>
                    <p data-aos="fade-up" class="mb-2 text-justify">Além de gerenciar a demanda do setor de criação, contribuí desenvolvendo planilhas fundamentais para a gestão financeira da empresa, checklists, ordens de serviços e a integração de diversas ferramentas, como calendário de eventos e banco de horas. Ao assumir a gestão do setor de pós-venda, contribuí desenvolvendo organogramas, fluxogramas e diagramas dos processos da empresa, permitindo otimizar a gestão da demanda e inteligência empresarial. </p>
                    <p data-aos="fade-up" class="mb-2 text-justify">Expandindo minha área de atuação, contribuí com o desenvolvimento de projetos importantes para a empresa, como a elaboração de todos os Cargos e Funções com o objetivo de formalizar a estrutura organizacional e incentivar os colaboradores a avançarem em suas carreiras profissionais. Criei Dashboards Gerenciais utilizando o Microsoft Power BI, compilando dados de planilhas, CRM e aplicativos web para gerar relatórios analíticos. Desenvolvi um sistema Gerador de Propostas Comerciais para otimizar a gestão de valores e gerar mais lucro. Liderei um grande projeto com empresas parceiras para estudar e implementar melhorias nos processos da empresa.</p>
                    </p>
                    {% else %}
                    <p data-aos="fade-up" class="mb-2 text-justify">I started my career as a Final Artist and was quickly promoted to Creative Supervisor. During this period, I performed operational and strategic work, developing methods to integrate, automate, and perform routine tasks more efficiently. I coordinated three teams, all currently self-managed, and led Marketing projects such as brand rebranding and its new visual identity, renowned party campaigns, and institutional materials. I developed the company’s website, which has a news blog, form management, and image upload, as well as being associated with Google Analytics and integrated chat services.</p>
                    <p data-aos="fade-up" class="mb-2 text-justify">In addition to managing the demand of the creative sector, I contributed by developing fundamental spreadsheets for the company’s financial management, checklists, service orders, and the integration of various tools such as event calendar and time bank. Upon taking over the management of the after-sales sector, I contributed by developing organizational charts, flowcharts, and diagrams of the company’s processes, allowing for the optimization of demand management and business intelligence. </p>
                    <p data-aos="fade-up" class="mb-2 text-justify">Expanding my area of operation, I contributed to the development of important projects for the company, such as the elaboration of all Positions and Functions with the aim of formalizing the organizational structure and encouraging employees to advance in their professional careers. I created Management Dashboards using Microsoft Power BI, compiling data from spreadsheets, CRM, and web applications to generate analytical reports. I developed a Commercial Proposal Generator system to optimize value management and generate more profit. I led a large project with partner companies to study and implement improvements in the company’s processes. </p>
        
                    {% endif %}
        
        
                    
                    <p data-aos="fade-up" class="text-muted text-sm py-2">{% t experiences.cross.visit %}. </p>
                    <a data-aos="fade-up" href="{% tl projects %}" class="btn btn-outline-primary btn-sm"> {% t navigation.projects %}</a>
                  
        
               
                  </div>
                </div>
              </div>
        
              <div class="timeline left ">
                <div data-aos="fade-up" class="card shadow">
                  <div class="card-body p-4">
                    <div class="d-flex-inline d-md-flex my-auto col my-2">
                      <a data-aos="fade-up" href="https://www.sponte.com.br/" class="">
                        <img src="/assets/images/experiences/sponte.png" height="75px"  alt="">
                      </a>
        
                      <div class="my-auto pb-3 pb-md-0 md-my-0 md-mx-2">
                        <p data-aos="fade-up" class="fs-5 fw-light mb-0">{% t experiences.sponte.company %}</p>
                        <p data-aos="fade-up" class="items-center mb-0 fw-light text-sm"><i class="fa fa-map-marker"></i> {% t experiences.sponte.location %}</p>
                      </div>
                    </div>
        
                    <div class="mb-2">
                      <p data-aos="fade-up" class="fs-5 fw-bold mb-0">{% t experiences.sponte.title %}</p>
                      <ul class="d-flex-inline d-md-flex justify-content-start gap-4 list-unstyled  text-sm">
                        <li data-aos="fade-up" class="items-center"><i class="fa fa-sign-in fa-lg"></i> {% t experiences.sponte.date_in %}</li>
                        <li data-aos="fade-up" class="items-center"><i class="fa fa-sign-out fa-lg"></i> {% t experiences.sponte.date_out %}</li>
                        <li data-aos="fade-up" class="items-center"><i class="fa fa-clock-o fa-lg"></i> {% t experiences.sponte.duration %}</li>
                      </ul>
                    </div>
        
                    {% if site.lang == "pt-br" %}
                    <p data-aos="fade-up" class="mb-2 text-justify">Prestei suporte técnico ao cliente por meio de chat, telefone e conexão remota. Criei manuais de instrução do sistema (FAQ), acompanhei chamados e correções, e realizei treinamentos e implantações para novos clientes. Após um ano, fui promovido para a área de configuração bancária, onde realizei configurações para emissão de boletos e notas fiscais. Tive mais contato com arquivos CNAB, homologação bancária e adquiri conhecimento em nota fiscal eletrônica. </p>
                    {% else %}
                    <p data-aos="fade-up" class="mb-2 text-justify">I provided technical support to the client through chat, phone, and remote connection. I created system instruction manuals (FAQ), followed up on calls and corrections, and conducted training and implementations for new clients. After a year, I was promoted to the banking configuration area, where I performed configurations for issuing bank slips and invoices. I had more contact with CNAB files, bank homologation, and acquired knowledge in electronic invoicing.</p>
               
                    {% endif %}
                  </div>
                </div>
              </div>
        
              <div class="timeline right">
                <div data-aos="fade-up" class="card shadow">
                  <div class="card-body p-4">
                    <div class="d-flex-inline d-md-flex my-auto col my-2">
                      <a data-aos="fade-up" href="http://www.a1formaturas.com.br/" class="">
                        <img src="/assets/images/experiences/a1.png" height="75px"  alt="">
                      </a>
        
                      <div class="my-auto pb-3 pb-md-0 md-my-0 md-mx-2">
                        <p data-aos="fade-up" class="fs-5 fw-light mb-0">{% t experiences.a1.company %}</p>
                        <p data-aos="fade-up" class="items-center mb-0 fw-light text-sm"><i class="fa fa-map-marker"></i> {% t experiences.a1.location %}</p>
                      </div>
                    </div>
        
                    <div class="mb-2">
                      <p data-aos="fade-up" class="fs-5 fw-bold mb-0">{% t experiences.a1.title %}</p>
                      <ul class="d-flex-inline d-md-flex justify-content-start gap-4 list-unstyled  text-sm">
                        <li data-aos="fade-up" class="items-center"><i class="fa fa-sign-in fa-lg"></i> {% t experiences.a1.date_in %}</li>
                        <li data-aos="fade-up" class="items-center"><i class="fa fa-sign-out fa-lg"></i> {% t experiences.a1.date_out %}</li>
                        <li data-aos="fade-up" class="items-center"><i class="fa fa-clock-o fa-lg"></i> {% t experiences.a1.duration %}</li>
                      </ul>
                    </div>
                      
                    {% if site.lang == "pt-br" %}
                    <p data-aos="fade-up" class="mb-2 text-justify"> Realizei a criação de convites de formatura, social media, campanhas de marketing e produção de materiais gráficos para uso interno. Adquiri conhecimento em gráfica, tipos de papel, laminação, impressão e perfil de cores. </p>
                    {% else %}
                    <p data-aos="fade-up" class="mb-2 text-justify"> I created graduation invitations, social media content, marketing campaigns, and produced graphic materials for internal use. I acquired knowledge in printing, types of paper, lamination, printing, and color profiles.</p>
                    {% endif %}
        
                  </div>
                </div>
              </div>
        
            </div>
          </div>
        </section>

        {{ content }}
      </div>
    </main>
    
    {%- include footer.html -%}
    
    {%- include scripts.html -%}
  </body>

</html>
