---
layout: default
---

<div class="d-lg-flex justify-content-between container py-4 position-relative">

  <article id="article"
    class="col-12 {% if page.toc %} col-lg-9 col-xl-10 {% else %} col-md-8 mx-auto {% endif %} py-4 ">

 
    {% include refactor-content.html content=content %}

    {% capture github_repo %}
      {% include github.markdown %}
    {% endcapture %}
    {{ github_repo | markdownify }}
    
    {%- include post-sharing.html -%}

    <!-- GISCUS.APP  # COMENTS ON DISCUSSIONS AT GITHUB -->
    {% unless page.giscus == false %}
      {%- include giscus.html -%}
    {% endunless %}

    {%- include post-nav.html -%}

  </article>

  {% if page.toc %}
  <div class="d-none d-lg-block col-lg-3 col-xl-2 px-4">
    {%- include toc.html -%}
  </div>
  {% endif %}

</div>



